# Исключить скрытые системные каталоги, но не всё подряд
.git/
.gitattributes
.gitignore

# Виртуальные окружения и Python-кэш
.venv/
__pycache__/
*.py[cod]
*.pyo

# IDE-файлы
.idea/
.vscode/

# Тесты и документация
tests/
test/
docs/
examples/

# Логи и артефакты сборки
*.log
*.logs
Logs/
Log/
dist/
build/

# Примеры и шаблоны
env_example
.env

# Опционально (если не нужны в образе):
docker-compose.yml
poetry.lock
pyproject.toml
README.md
LICENSE
